
{% extends "_layout" %}

{% block content %}

<section class="pr-drills">
	
	<section class="uk-section uk-section-xsmall uk-container uk-container-small pr-drills-meta">
		<span class="pr-no-print" onclick="window.print()"><i class="fas fa-print"></i></span>
		<span class="pr-no-screen pr-meta-copyright"><i class="fab fa-creative-commons"></i><i class="fab fa-creative-commons-by"></i> {{site.siteTrainer}}</span>
		<span class="pr-no-screen pr-meta-printed uk-float-right">Imprimé le {{ now|date('d.m.Y') }}</span>
	</section><!-- end pr-drills-meta -->
	
	<section class="uk-section uk-section-xsmall uk-container uk-container-small pr-drills-header">
		<h1 class="uk-h2 pr-drills-header-heading">{{ entry.title }}</h1>
		<div class="">{{ entry.description|md }}</div>
		
		{% if entry.volume|length %}
		<div class="uk-text-meta uk-text-small uk-margin-bottom pr-drills-metrics">
			{% set vol = entry.volume.value %}
			{% set volT = 4-vol %}
			{% set int = entry.volume.value %}
			{% set intT = 4-int %}
			<div class="pr-session-volume">Volume: {% for i in range(1, vol) %}<i class="fas fa-star"></i>{% endfor %}{% for i in range(1, volT) %}<i class="far fa-star"></i>{% endfor %}</div>
			<div class="pr-session-intensity">Intensité: {% for i in range(1, int) %}<i class="fas fa-star"></i>{% endfor %}{% for i in range(1, intT) %}<i class="far fa-star"></i>{% endfor %}</div>
		</div>
		{% endif %}<!-- end pr-drills-metrics -->
	</section><!-- end pr-drills-header -->
	
	<section class="uk-section uk-section-xsmall uk-container uk-container-small pr-drills-blocks">
	
		{% set session = entry %}
		{% include 'sessions/session-block.html' %}
	
	</section><!-- end session -->¨
	
	<section class="uk-section uk-section-xsmall uk-container uk-container-small pr-drills-footer">
	</section><!-- end pr-drills-footer -->
</section><!-- end pr-drills -->

{% endblock %}