
{% extends "_layout" %}

{% block content %}

<section class="uk-section uk-section-xsmall uk-container uk-container-small uk-width-xlarge">
	
	<section class="uk-section uk-section-small">
		<h1 class="uk-h2">{{ entry.title }}</h1>
		
		{% set image = entry.illustration.one() %}
		{% if image %}
		<img src="{{ image.getUrl }}" alt="{{ image.title }}">
		{% endif %}
		
		<p>{{ entry.exerciceDescription|md|parseRefs|raw }}</p>
		
		<dl class="uk-tile uk-tile-small uk-tile-muted">
			<dt>Note</dt>
			<dd>{{ entry.note|md|parseRefs|raw }}</dd>
			<dt>Difficulté</dt>
			<dd>{{ entry.difficulty }}</dd>
			<dt>Intensité</dt>
			<dd>{{ entry.exerciceIntensite }}</dd>
			<dt>Répétitions minimum</dt>
			<dd>{{ entry.repetitionsMinimum }}</dd>
			<dt>Répétitions maximum</dt>
			<dd>{{ entry.repetitionsMaximum }}</dd>
		</dl>
	</section>
	
</section>

<style>
dl {}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}
dt::after {
    content: ":";
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

</style>

{% endblock %}