
{% extends "_layout" %}

{% block content %}

<section class="pr-programs">

	<section class="uk-section uk-section-xsmall uk-container uk-container-small pr-programs-meta">
		<span class="pr-no-print" onclick="window.print()"><i class="fas fa-print"></i></span>
		<span class="pr-no-screen pr-meta-copyright"><i class="fab fa-creative-commons"></i><i class="fab fa-creative-commons-by"></i> {{site.siteTrainer}}</span>
		<span class="pr-no-screen pr-meta-printed uk-float-right">Imprimé le {{ now|date('d.m.Y') }}</span>
	</section><!-- end pr-programs-meta -->

	<section class="uk-section uk-section-xsmall uk-container uk-container-small pr-programs-header">
		<h1 class="uk-h2 pr-programs-header-heading">{{ entry.title }}</h1>
		<div class="">{{ entry.description|md }}</div>
	</section><!-- end pr-programs-header -->

	<section class="uk-section uk-section-xsmall uk-container uk-container-small pr-programs-blocks">

		{% set session = entry %}
		{% include 'sessions/session-block.html' %}

	</section><!-- end session -->¨

	<section class="uk-section uk-section-xsmall uk-container uk-container-small pr-programs-footer">
	</section><!-- end pr-programs-footer -->
</section><!-- end pr-programs -->

{% endblock %}
